@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Our restaurant has a variety of meals, sweet treats as well as hot & cold beverages.<br />
    We also offer vegetarian options and assist with functions – big & small. <br /><br />
    From delectable deserts to savoury & zesty meals, give your tastebuds a little kick before you start your day.
</p>
