@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    📍DUT Steve Biko,S9 Level 4 <br />
    Durban University of Technology <br />
    Berea<br />
    KwaZulu-Natal, South Africa<br />
    4001<br />
    <abbr title="Phone">Tell:</abbr>
    031-373 2867
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Social Media Marketing:</strong> <a href="https://www.instagram.com/dutrendezvous/">DutRendezvous</a>
</address>